@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); 

:root {
    --primary-color: rgb(62, 100, 255);
    --complete-color: #27aa80;
    --text-color: #172b4d;
    --disabled-color: #fad6d6;
    --background-color: #f5eaea;
}

.button{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: #1fe8b6;
    padding: 20px 50px;
    border: 3px solid #1fe8b6;
    /* position: relative;
    position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button::before,
.button::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s ease-in;
}

.button::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.button::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

html {
    background: rgb(0,73,191);
    background: linear-gradient(90deg, rgba(0,73,191,1) 0%, rgba(190,190,255,1) 46%, rgba(0,212,255,1) 100%);
}


body {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a {
    color: unset;
    text-decoration: unset;
    cursor: pointer;
}

p {
    margin: 10px 0;
    overflow-wrap: break-word;
    text-align: left;
}

label {
    font-size: 20px;
    display: block;
}
/* ======================== */

.showcase {
    width: 100%;
    height: 50vh;
    position: relative;
}

/* 
    To make the video full screen and scalable, we give it full width and height of the parent. Then we add position of absolute in conjunction with object fit over cover.
    This will help the video maintain it's aspect ratio when resizing the window.
*/

.showcase img {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* 
    To achieve this effect we will give the text element full width and height. Then we add a background to cover the video that is in the back.
    Then we use the mix blend mode to blend the text to the video on the back. Since the text is white, this is the only thing that will be blended
    and not the overall background. Keep in mind that this is a simple way to achieve this, so only certain color combinations will work. If you use a white background color,
    set the text color to black and then the mix blend mode to screen.
*/
.title {
    width: 100%;
    height: 100%;
    background-color: #000;
    font-size: 135px;
    color: white;
    mix-blend-mode: multiply;
}

/* button, input {
    padding: 4px;
    border: 1px solid var(--disabled-color);
}

button {
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: var(--primary-color);
    transition: all ease 0.8s;
    cursor: pointer;
}

button.active {
    color: var(--primary-color);
}

button.active:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 4px;
    border-bottom: 1px solid var(--primary-color);
} */

input:focus {
    outline: none;
}

select {
    outline: none;
    height: 40px;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    background-color: white;
}

.item:hover {
    cursor: pointer;
}

.item-title {
    font-weight: 600;
    font-size: 16px;
}

.item-status {
    text-align: right;
}

.color-bar {
    width: 40px;
    height: 10px;
    border-radius: 5px;
}

.drop-wrapper {
    flex: 1 25%;
    width: 100%;
    height: 100%;
}

.col-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 5px;
}

.col-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}

.col {
    min-height: 1500px;
    max-width: 2500px;
    width: 250px;
}

.highlight-region {
    background-color: yellow;
}

.page-header {
    background-color: #054F7C;
    padding: 20px;
    color: white;
    font-size: 30px;
    flex: 1 100%;
    margin-top: 0;
    text-align: center;
}

.modal {
    background-color: #F4F5F7;
    border-radius: 2px;
    margin: 48px 0 80px;
    min-height: 450px;
    width: 800px;
    outline: none;
    padding: 20px;
}

.overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);;
}

.close-btn-ctn {
    display: flex;
}

.close-btn {
    height: 40px;
    width: 35px;
    font-size: 20px;
    color: #031D2C;
    border: none;
    border-radius: 25px;
}

.close-btn:hover {
    background-color: #DCDCDC;
}

.job-description {
    border: 1px, pink;
    background-color: white;
    height: 180px;
    width: 675px;
    overflow: auto;
    float: left;
    position: relative;
    margin: 0;
}
